sfdx-source/force-app/main/default/flows/CQ_MS_Controlled_Document_After_Create_RT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CQ_MS_Add_Approvers_and_Training_Prompt</name>
        <label>CQ MS Add Approvers and Training Prompt</label>
        <locationX>634</locationX>
        <locationY>552</locationY>
        <actionName>compliancequest__SQX_Controlled_Document__c.CQ_MS_Add_Approvers_and_Training_Prompt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_To_Approval_Steps_Collection</name>
        <label>Assign To Approval Steps Collection</label>
        <locationX>302</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>NewApprovalStepsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Approval_Step</name>
        <label>Create Approval Step</label>
        <locationX>106</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>ApprovalStep.compliancequest__Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Approvers.compliancequest__Step__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalStep.compliancequest__SQX_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Approvers.compliancequest__SQX_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalStep.compliancequest__Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Approvers.compliancequest__Is_Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalStep.compliancequest__SQX_Job_Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Approvers.compliancequest__SQX_Job_Function__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalStep.compliancequest__SQX_Controlled_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Approval_Steps_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Revised</name>
        <label>Is Revised</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Insert_First_Revision_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.compliancequest__SQX_Copy_Of__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_approvers_from_Parent_Doc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CQ Configured Common Record Triggered flow for Controlled Documents to  
1. Sends email if it is not Revised and Updates Revision notes
2. Copies Approvers from previous Revision when Revised</description>
    <interviewLabel>CQ MS Controlled Document - After Create RT Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQ MS Controlled Document - After Create RT Flow</label>
    <loops>
        <name>For_Each_Approvers</name>
        <label>For Each Approvers</label>
        <locationX>105</locationX>
        <locationY>478</locationY>
        <collectionReference>Get_the_approvers_from_Parent_Doc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Approval_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Approval_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Approval_Steps</name>
        <label>Insert Approval Steps</label>
        <locationX>105</locationX>
        <locationY>291</locationY>
        <inputReference>NewApprovalStepsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_the_approvers_from_Parent_Doc</name>
        <label>Get the approvers from Parent Doc</label>
        <locationX>245</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>compliancequest__SQX_Controlled_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.compliancequest__SQX_Copy_Of__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>compliancequest__SQX_Controlled_Document_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Insert_First_Revision_Notes</name>
        <label>Insert First Revision Notes</label>
        <locationX>462</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>CQ_MS_Add_Approvers_and_Training_Prompt</targetReference>
        </connector>
        <inputAssignments>
            <field>compliancequest__Changes__c</field>
            <value>
                <stringValue>Document Established</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Revised</targetReference>
        </connector>
        <object>compliancequest__SQX_Controlled_Document__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>compliancequest__SQX_Controlled_Document_Approval__c</objectType>
    </variables>
    <variables>
        <name>NewApprovalStepsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>compliancequest__SQX_Controlled_Document_Approval__c</objectType>
    </variables>
</Flow>
