sfdx-source/force-app/main/default/flows/CQ_MS_Get_CAPA_Approval_Matrix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>GetApprovalMatrixName</name>
        <dataType>String</dataType>
        <expression>&quot;CAPA&quot;+&quot; - &quot;+text({!$Record.CQ_MS_CAPA_Subtype__c})+&quot; - &quot;+text({!$Record.compliancequest__Org_Division__c})</expression>
    </formulas>
    <interviewLabel>CQ MS Get CAPA Approval Matrix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQ MS Get CAPA Approval Matrix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Matrix</name>
        <label>Get Approval Matrix</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCAPAApprovalMatrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetApprovalMatrixName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>compliancequest__SQX_Approval_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCAPAApprovalMatrix</name>
        <label>UpdateCAPAApprovalMatrix</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>compliancequest__SQX_Approval_Matrix__c</field>
            <value>
                <elementReference>Get_Approval_Matrix.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Matrix</targetReference>
        </connector>
        <object>compliancequest__SQX_CAPA__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
